{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/mybase.css' %}">
    {% if title %}
        <title>Gh_MusicSheet - {{ title}}</title>
    {% else %}
        <title>Gh_MusicSheet</title>
    {% endif %}

</head>
<body>   
    <div class="header">
      <a class="logo" href="{% url 'blog-first' %}"><img src="/media/log.png" alt="logo" width="250" height="75"></a>
      <input type="checkbox" id="chk">
      <label for="chk" class="show-menu-btn">
        <i class="fas fa-ellipsis-h"></i>
      </label>
      <ul class="menu">
        {% if user.is_staff %}
           <a  href="{% url 'post-requesting' %}" style="color: gold">Request Music</a>
           <a  href="{% url 'profile' %}">Profile</a>
           <a  href="{% url 'post-create' %}">New Post</a>
           <a  href="{% url 'logout' %}">Logout</a>

           
        {% elif user.is_authenticated %}
          <a  href="{% url 'post-requesting' %}" style="color: gold">Request Music</a>
          <a  href="{% url 'profile' %}">Profile </a>
          <a  href="{% url 'logout' %}">Logout </a>
         
       {% else %}
         <a  href="{% url 'post-requesting' %}" style="color: gold">Request Music</a>                
         <a  href="{% url 'login' %}">Login </a>
         <a  href="{% url 'register' %}">Register </a>
         
       {% endif %}
        <label for="chk" class="hide-menu-btn">
          <i class="fas fa-times"></i>
        </label>      
      </ul>
    </div>     
    <main role="main" class="container">
      <div class="row">

        <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message}}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}

        </div>
        <div class="col-md-4">
          <div class="content-section-one">
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Are you a composer? | <a href="{% url 'register' %}">Join Us</a></li>
               <li class="list-group-item list-group-item-light" >Facebook</a></li>
               <li class="list-group-item list-group-item-light">Did not ge what you want?<a href="{% url 'post-requesting' %}"> Request MusicSheet Here</a></li>
               <li class="list-group-item list-group-item-light">Check Our Music Lessons</li>
              </ul>            
          </div>
        </div>
      </div>            
    </main>
    

    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->   
  </div>  
</div>
</body>

</html>



<!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>-->